<!DOCTYPE HTML>
<html lang="en">
<!-- Head -->
<head>
    <title>TDM</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="icon" href="../images/TDM.svg">
</head>

<!-- Body -->
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo container">
            <div>
                <h1><a href="/" id="logo">TDM Sneaker Arena</a></h1>
                <p>Sneaker connections made easier!</p>
            </div>
        </div>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/startConnecting">Start Connecting</a></li>
            <li><a href="/aboutUs">About Us</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <br><br><br><br><br>
        </div>
    </section>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12">

                    <!-- Highlight -->
                    <section class="box highlight">
                        <ul class="special">
                            <li><a class="fa-solid fa-shoe-prints"></a></li>
                            <li><a class="fa-solid fa-people-group"></a></li>
                            <li><a class="fa-solid fa-check"></a></li>
                            <li><a class="fa-solid fa-face-smile"></a></li>
                        </ul>
                        <header>
                            <h2>A little bit about us!</h2>
                        </header>
                        <p>
                            TDM Sneaker Arena is a unique online marketplace that connects buyers and sellers of sneakers, providing a safe and reliable platform for sneaker transactions. As a seller, you can send your sneakers to TDM Sneaker Arena for quality checks to ensure that they meet the highest standards. Buyers can simply contact TDM Sneaker Arena with their desired shoe, and the business will link them with the perfect pair. With a strong focus on authenticity, quality, and customer satisfaction, TDM Sneaker Arena is the go-to destination for sneakerheads looking for a seamless buying and selling experience.
                        </p>
                    </section>
                </div>

                <!-- Location -->
                <div class="col-12">
                    <section class="box features">
                        <h2 class="major"><span>Location</span></h2>
                        <div>
                            <section class="box feature">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11620.21586749002!2d-2.9385576!3d43.2712452!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e50207f52c445%3A0x6ea1bd3e8bae3141!2sUniversity%20of%20Deusto!5e0!3m2!1sen!2ses!4v1682286792751!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <p>
                                    We also have a physical store!
                                </p>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- Scripts -->
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dropotron.min.js"></script>
<script src="../js/jquery.scrolly.min.js"></script>
<script src="../js/browser.min.js"></script>
<script src="../js/breakpoints.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/main.js"></script>
<script src="https://kit.fontawesome.com/ab702fc57c.js" crossorigin="anonymous"></script>

</body>
</html>