<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Exchanging!</title>
</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo container">
            <div>
                <h1><a href="/" id="logo">TDM Sneaker Arena</a></h1>
                <p>Sneaker connections made easier!</p>
            </div>
        </div>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="current"><a href="/startConnecting">Start Connecting</a></li>
            <li><a href="/aboutUs">About Us</a></li>
        </ul>
    </nav>
</div>
</body>
</html>